@font-face {
    font-family: 'blippo';
    src: local('blippo'),
         url('blippo_blk_bt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
     font-family: 'adobe-clean';
     src: local('adobe-clean'),
          url('adobe_clean.otf') format('opentype');
     font-weight: normal;
     font-style: normal;
   }